<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between"></div>
    
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-4">
            @*<div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">*@
                                <div class="headline mt-4">
                                    <h1 class="text-center">Welcome to SAT Catitudes Enrollment Service</h1>
                                    <h3 class="text-center">Please login.</h3>
                                </div>
                        @*</div>
                    </div>
                </div>
            </div>*@
            
        </div>
    </div>
</div>
    