<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="EmailClient" value="mail.mckinneywebdev.com" />
  <add key="EmailUser" value="administrator@mckinneywebdev.com" />
  <add key="EmailPass" value="eight8ate*" />
  <add key="EmailTo" value="seanamckinney8@gmail.com*" />
</appSettings>
